@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rye&family=Smokum&family=Tinos&display=swap");

body#accueil {
  background: url(images/Wallpaper_4K.jpg) fixed no-repeat center;
  background-size: 100%;
}

body#armes {
  background: url(images/Hunt-Wallpaper-7-2560x1440.jpg) fixed no-repeat center;
  background-size: 100%;
}

body#video {
  background: url(images/Hunt-Wallpaper-4-2560x1440.jpg) fixed no-repeat center;
  background-size: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Barre de naviguation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(25, 30, 34);
  font-family: "Tinos", sans-serif;
}

.logoNav {
  width: 30px;
}

/* Donne la dimension et l'espace entre chaque catégorie de la barre de naviguation */
.nav-links {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh;
  background-color: rgb(25, 30, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Retire les points */
.nav-links li {
  list-style: none;
  opacity: 0;
}

/* Retire la décoration des liens hypertexte */
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: block;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/* Barre de naviguation FIN */

/* Title Début*/
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 2.5em;
}

h2 {
  color: white;
  text-align: center;
}

/* Title Fin */

.tinos {
  font-family: "Tinos", sans-serif;
  font-weight: lighter;
}

/* Card */

.card1 {
  background-color: rgb(25, 30, 34);
  padding-bottom: 1em;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.card1:hover {
  box-shadow: 10px 10px 10px rgb(25, 30, 34);
}

.card2 {
  padding: 10px;
}

.pCard {
  color: white;
  padding: 0.5em;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.embedresize {
  max-width: 100%;
  margin: auto;
}

.embedresize div {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.embedresize iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0;
}
/* Card */

/* FOOTER */

.footer {
  position: absolute;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(25, 30, 34);
  color: white;
  font-family: "Tinos", sans-serif;
  height: 70px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
}
/* FOOTER FIN */

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  .footer ul {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  /* BARRE DE NAVIGUATION */
  .nav-links {
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 30, 34);
    justify-content: space-around;
    width: 60%;
    transform: translateX(0%);
    height: 0vh;
    top: 4vh;
  }

  /* Retire les points */
  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: none;
  }

  /* BARRE DE NAVIGUATION FIN */

  /* LOGO */

  .logo {
    width: 30%;
  }
  /* LOGO FIN */

  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 100px;
  }

  .card1 {
    max-width: 280px;
    margin: 20px;
  }
}
