@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rye&family=Smokum&family=Tinos&display=swap");

body {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body#accueil {
  background: url(images/Hunt-Wallpaper-8-1920x1080.jpg) fixed no-repeat center;
  background-size: cover;
}

body#armes {
  background: url(images/Hunt-Mobile-Wallpaper-1-610x1084.jpg) fixed no-repeat center;
  background-size: cover;
}

body#video {
  background: url(images/Hunt-Mobile-Wallpaper-5-610x1084.jpg) fixed no-repeat center;
  background-size: cover;
}

body#patchnotes {
  background: url(images/Hunt-Wallpaper-6-1920x1080.jpg) fixed no-repeat center;
  background-size: cover;
}

body#lore {
  background: url(images/Hunt-Wallpaper-3-1920x1080.jpg) fixed no-repeat center;
  background-size: cover;
}

body#cleptobec {
  background: url(images/scrapbeak3.jpg) fixed no-repeat center;
  background-size: cover;
}

body#assassin {
  background: url(images/vincent_assassin.jpg) fixed no-repeat center;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  min-height: 100%;
  position: relative;
}

/* BOUTTON */

.btn {
  height: 30px;
  width: 30px;
  background: rgb(56, 66, 73);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 80px;
  cursor: pointer;
  z-index: 1;
}

.fa-arrow-up-from-bracket {
  color: white;
}

/* BOUTTON FIN */

/* BARRE DE NAVIGATION */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(25, 30, 34);
  font-family: "Tinos", sans-serif;
}

.logoNav {
  width: 30px;
}

/* Donne la dimension et l'espace entre chaque catégorie de la barre de naviguation */
.nav-links {
  position: absolute;
  right: 0px;
  height: 41vh;
  top: 8vh;
  background-color: rgb(25, 30, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 55%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
  z-index: 1;
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Retire les points */
.nav-links li {
  list-style: none;
  opacity: 0;
}

/* Retire la décoration des liens hypertexte */
.nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: block;
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
/* BARRE DE NAVIGATION FIN */

/* BARRE DE NAVIGATION LORE */

.navLore {
  position: absolute;
  top: 50px;
  width: 100%;
  max-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: rgb(25, 30, 34);
  border-top: 1px solid black;
}

.navLore li {
  list-style: none;
  margin-bottom: 7px;
  font-size: 1.3em;
  font-family: "Tinos", sans-serif;
  margin-left: 10px;
}

.navLore a {
  text-decoration: none;
  color: white;
}

/* BARRE DE NAVIGATION LORE FIN */

/* Title Début*/
h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: center;
  color: white;
  font-size: 2.5em;
}

h2 {
  color: white;
  text-align: center;
}

/* Title Fin */

.tinos {
  font-family: "Tinos", sans-serif;
  font-weight: lighter;
}

/* Card */
.container {
  padding: 30px;
  margin-bottom: 100px;
}

.card1 {
  background-color: rgb(25, 30, 34);
  padding-bottom: 1em;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  cursor: pointer;
}

.card1:hover {
  box-shadow: 2px 2px 5px rgb(179, 168, 168);
  border-radius: 5px;
}

.card2 {
  padding: 10px;
}

.pCard {
  color: white;
  padding: 0.5em;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.logo {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.embedresize {
  max-width: 100%;
  margin: auto;
}

.embedresize div {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
}

.embedresize iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

iframe {
  border: 0;
}

/* Card */

/* CARD LORE */
.loreH1 {
  font-family: "Smokum", sans-serif;
}
.imageLore {
  width: 200px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
}

.flex-container p {
  margin-bottom: 12px;
}

.flex-items {
  margin-bottom: 10px;
}

.titleLore {
  font-family: "Tinos", sans-serif;
  margin-top: 10px;
}

.flex-items-description {
  background-color: rgba(214, 215, 214, 0.897);
  padding: 30px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
}

.flex-items-description p {
  font-family: "Roboto", sans-serif;
  margin-top: 6px;
}

.flex-items-description em {
  font-size: 0.8em;
}

.flex-items-description h3 {
  font-family: "Smokum", sans-serif;
  font-size: 2em;
}

.flex-items-description a {
  position: absolute;
  right: 0;
  bottom: 0;
  color: black;
  text-decoration: none;
}

.description {
  background-color: rgba(214, 215, 214, 0.897);
  padding: 30px;
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 100px;
  position: relative;
}

.description a {
  position: absolute;
  right: 0;
  bottom: 0;
  color: black;
  text-decoration: none;
}

.description em {
  font-size: 0.8em;
}

.description h3 {
  font-family: "Smokum", sans-serif;
  font-size: 2em;
}

.description p {
  font-family: "Roboto", sans-serif;
  margin-top: 6px;
}

/* CARD LORE FIN */

/* BORDER LORE */

.border {
  border-bottom: 2px solid white;
  width: 100%;
  margin-bottom: 3px;
}

.borderContainer {
  border-bottom: 2px solid rgba(0, 0, 0, 0.582);
  width: 100%;
  margin-top: 1px;
}

.pScrapbeak {
  margin-bottom: 10px;
}

/* BORDER LORE */
/* FOOTER */

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(25, 30, 34);
  color: white;
  font-family: "Tinos", sans-serif;
  height: 70px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
}
/* FOOTER FIN */

/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  .footer ul {
    display: flex;
    flex-direction: row;
  }

  .nav-links {
    width: 30%;
  }
}

@media only screen and (min-width: 1024px) {
  /* BOUTON */

  .btn {
    width: 70px;
    height: 70px;
    right: 100px;
    background: rgba(56, 66, 73, 0.897);
  }

  .fa-arrow-up-from-bracket {
    font-size: 1.7em;
  }
  /* BOUTON FIN */

  /* BACKGROUND IMAGE */

  body#accueil {
    background: url(images/Hunt-Wallpaper-8-1920x1080.jpg) fixed no-repeat center;
    background-size: cover;
  }

  body#armes {
    background: url(images/Hunt-Wallpaper-7-2560x1440.jpg) fixed no-repeat center;
    background-size: cover;
  }

  body#video {
    background: url(images/Hunt-Wallpaper-4-2560x1440.jpg) fixed no-repeat center;
    background-size: cover;
  }

  body#patchnotes {
    background: url(images/Hunt-Wallpaper-6-1920x1080.jpg) fixed no-repeat center;
    background-size: cover;
  }

  /* BACKGROUND IMAGE FIN */

  /* BARRE DE NAVIGUATION */
  nav {
    min-height: 2vh;
  }
  .nav-links {
    display: flex;
    flex-direction: row;
    background-color: rgb(25, 30, 34);
    justify-content: space-around;
    width: 60%;
    transform: translateX(0%);
    height: 0vh;
    top: 4vh;
  }

  /* Retire les points */
  .nav-links li {
    opacity: 1;
  }

  .burger {
    display: none;
  }

  /* BARRE DE NAVIGUATION FIN */

  /* BARRE DE NAVIGATION LORE  */

  .navLore {
    position: absolute;
    position: fixed;
    top: 67px;
    left: 0px;
    background: rgba(25, 30, 34, 0.884);
    max-width: 15%;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .navLore li {
    font-size: 1.1em;
  }

  /* BARRE DE NAVIGATION LORE FIN */

  /* LOGO */

  .logo {
    width: 30%;
  }
  /* LOGO FIN */

  /* CARD VIDEO */
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
  }

  .card1 {
    max-width: 280px;
    margin: 20px;
  }

  /* CARD VIDEO FIN */

  /* CARD LORE */

  .flex-container {
    flex-direction: row;
    justify-content: center;
  }

  .titleLore {
    margin-bottom: 20px;
  }

  .flex-items-description {
    width: 50%;
  }

  .description {
    width: 50%;
  }

  /* CARD LORE FIN */
}
