body#armes {
  background: url(../images/Hunt-Wallpaper-7-2560x1440.jpg) fixed no-repeat center;
  background-size: cover;
}

body#armes p {
  color: white;
  text-align: center;
  font-size: 1.2em;
}
.p-armes {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
}
.armes-h1 {
  font-family: "Smokum", sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 20px;
}
.invisible-margin {
  width: 100%;
  height: 100px;
}

/* Container pour le champs de recherche  */

.container-input {
  width: 100%;
  display: flex;
  justify-content: center;
}
.input {
  text-align: center;
  width: 60%;
  height: 50px;
  border: 1px solid white;
  background-color: rgb(37, 36, 36);
  color: white;
  margin: 30px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.555);
  text-align: center;
  /*   font-size: 1.2rem; */
}
/* Container pour le champs de recherche FIN */

/* CONTAINER EMPLACEMENT ARME */
.container-size-weapon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-size-weapon {
  width: 60%;
  margin: 10px;
  padding: 5px;
  background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-family: "Noto Serif", sans-serif;
  border-radius: 3px;
  transition: 0.5s;
  background-size: 200% auto;
}
.button-size-weapon:hover {
  background-position: right center; /* change the direction of the change here */

  text-decoration: none;
}

.button-size-weapon-red {
  width: 60%;
  margin: 10px;
  padding: 5px;
  background-image: linear-gradient(to right, #ff0000 0%, #3d0808 51%, #ff0000 100%);
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-family: "Noto Serif", sans-serif;
  font-style: italic;
  border-radius: 3px;
  transition: 0.5s;
  background-size: 200% auto;
}

.button-size-weapon-red:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}
/* CONTAINER EMPLACEMENT ARME FIN */

/* CONTAINER ARME */
.container-weapon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.weapon-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 80%;
  margin: 5px;
  border: 1px solid rgba(54, 51, 51, 0.822);
}
.weapon-box {
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.weapon-box-arc {
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.weapon-box-pax {
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.weapon-ammo-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-ammo-box {
  display: flex;
}
.image-ammo-box img {
  width: 32px;
  height: 64px;
  margin-left: 20px;
}
.weapon-box img {
  width: 100%;
  height: 100%;
}
.weapon-box-arc img {
  width: 30%;
  height: 100%;
}
.weapon-box-pax img {
  width: 100%;
  height: 100%;
}
.weapon-damage span {
  font-style: italic;
  font-family: "Noto Serif", sans-serif;
}
.weapon-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Noto Serif", sans-serif;
}
.weapon-box-arc a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Noto Serif", sans-serif;
}
.weapon-box-pax a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: "Noto Serif", sans-serif;
}

.weapon-stats-box {
  width: 100%;
}
.weapon-capacite {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.weapon-capacite img {
  width: 32px;
  height: 64px;
}
.weapon-capacite span {
  margin-bottom: 3px;
  color: white;
  font-family: "Noto Serif", sans-serif;
}
.weapon-capacite-lemat {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.weapon-capacite-lemat img {
  width: 32px;
  height: 64px;
}
.weapon-capacite-lemat span {
  margin-bottom: 3px;
  color: white;
  font-family: "Noto Serif", sans-serif;
}
.weapon-capacite-ammo {
  display: flex;
  align-items: end;
}
.weapon-stat {
  width: 100%;
  padding: 15px;
}
.weapon-damage {
  display: flex;
  justify-content: space-between;
  color: grey;
  margin-bottom: 3px;
}
.weapon-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  font-style: italic;
  font-family: "Noto Serif", sans-serif;
  position: relative;
}
.weapon-cost img {
  width: 33px;
  height: 33px;
}
.cost {
  position: absolute;
  right: 40px;
}
.degats {
  color: white;
}
.weapon-line {
  width: 100%;
  position: relative;
}
/* Les lignes de stats */
.grey-line {
  width: 100%;
  height: 5px;
  background-color: grey;
  display: block;
  z-index: 0;
  position: absolute;
}
.red-line {
  position: absolute;
  z-index: 1;
  background-color: red;
  width: 100%;
  height: 5px;
  display: block;
}
.white-line {
  position: absolute;
  width: 100%;
  height: 5px;
  display: block;
  background-color: white;
  z-index: 1;
}
/* Les lignes de stats fin*/

/* CONTAINER ARMES FIN */

/* INFOBULLE  */
.weapon-box span {
  display: none;
}
.weapon-box-arc span {
  display: none;
}
.weapon-box-pax span {
  display: none;
}

.weapon-damage p {
  display: none;
}

.infobulle-image p {
  display: none;
}
.weapon-capacite-ammo p {
  display: none;
}
.weapon-capacite p {
  display: none;
}
/* INFOBULLE FIN */

/* ---------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------- */

@media only screen and (min-width: 1043px) {
  /* Container pour le champs de recherche */
  .input {
    width: 40%;
    font-size: 1.2rem;
  }

  /* CONTAINER EMPLACEMENT ARME */
  .container-size-weapon {
    flex-direction: row;
    justify-content: center;
  }

  .button-size-weapon {
    width: 20%;
  }

  .button-size-weapon-red {
    width: 20%;
  }

  /* CONTAINER EMPLACEMENT ARME FIN */

  /* Container pour le champs de recherche FIN */

  /* CONTAINER ARMES */
  .weapon-capacite {
    flex-direction: column;
    align-items: center;
    width: 28%;
  }
  .weapon-capacite span {
    font-size: 0.9rem;
  }
  .weapon-capacite-lemat {
    flex-direction: column-reverse;
    align-items: center;
    width: 28%;
  }
  .weapon-capacite-ammo {
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  .weapon-capacite-ammo span {
    font-size: 0.9rem;
  }
  .weapon-box a {
    font-size: 0.9rem !important;
  }
  .weapon-box-arc a {
    font-size: 0.9rem !important;
  }
  .weapon-box-pax img {
    width: 60%;
  }
  .weapon-box-pax a {
    font-size: 0.9rem !important;
  }
  .weapon-ammo-box {
    width: 30%;
    flex-direction: column;
  }
  .image-ammo-box {
    justify-content: center;
    width: 100%;
  }
  .image-ammo-box img {
    margin: 0;
  }
  .weapon-container {
    flex-direction: row;
    align-items: center;
  }
  .weapon-damage span {
    font-size: 0.7rem;
  }

  /* CONTAINER ARMES FIN */
  /* ANIMATION  */
  .weapon-container:first-child {
    animation-name: fade-weapon-container;
    animation-duration: 2s;
  }
  @keyframes fade-weapon-container {
    from {
      transform: translateY(-300px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .weapon-container:nth-child(2n + 0) {
    animation-name: fade-weapon-container-X;
    animation-duration: 2s;
  }
  @keyframes fade-weapon-container-X {
    from {
      transform: translateX(-300px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .weapon-container:nth-child(2n + 3) {
    animation-name: fade-weapon-container-Y;
    animation-duration: 2s;
  }
  @keyframes fade-weapon-container-Y {
    from {
      transform: translateX(300px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* ANIMATION FIN */

  /* INFOBULLE */

  /* Infobulle image */
  .weapon-box span {
    display: block;
    position: absolute;
    margin-top: 63px;
    margin-left: 35px;
    color: white;
    background: rgb(51, 56, 59);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(0) rotate(-12deg);
    transition: all 0.35s;
    opacity: 0;
    z-index: 2;
    font-family: "Noto Serif", sans-serif;
    max-width: 15%;
    font-size: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.699);
  }
  .weapon-box a span::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 30px;
    width: 0;
    height: 0;
    border-bottom: 10px solid rgb(51, 56, 59);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .weapon-box:hover span,
  .weapon-box:focus span {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  .weapon-box-arc span {
    display: block;
    position: absolute;
    margin-top: 120px;
    margin-left: 250px;
    color: white;
    background: rgb(51, 56, 59);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(0) rotate(-12deg);
    transition: all 0.35s;
    opacity: 0;
    z-index: 2;
    font-family: "Noto Serif", sans-serif;
    max-width: 15%;
    font-size: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.699);
  }
  .weapon-box-arc a span::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 30px;
    width: 0;
    height: 0;
    border-bottom: 10px solid rgb(51, 56, 59);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .weapon-box-arc:hover span,
  .weapon-box-arc:focus span {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  .weapon-box-pax span {
    display: block;
    position: absolute;
    margin-top: 60px;
    margin-left: 150px;
    color: white;
    background: rgb(51, 56, 59);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(0) rotate(-12deg);
    transition: all 0.35s;
    opacity: 0;
    z-index: 2;
    font-family: "Noto Serif", sans-serif;
    max-width: 15%;
    font-size: 0.8rem;
    border: 1px solid rgba(255, 255, 255, 0.699);
  }
  .weapon-box-pax a span::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 30px;
    width: 0;
    height: 0;
    border-bottom: 10px solid rgb(51, 56, 59);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  .weapon-box-pax:hover span,
  .weapon-box-pax:focus span {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  /* Infobulle image fin*/

  /* Infobulle ammo */
  .weapon-capacite {
    cursor: pointer;
  }
  .weapon-capacite p {
    display: block;
    position: absolute;
    margin-top: 125px;
    margin-left: 5px;
    color: white;
    background: rgb(51, 56, 59);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(0) rotate(-12deg);
    transition: all 0.35s;
    opacity: 0;
    z-index: 2;
    font-family: "Noto Serif", sans-serif;
    max-width: 15%;
    font-size: 0.9rem !important;
    border: 1px solid rgba(255, 255, 255, 0.699);
  }
  .weapon-capacite p::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-bottom: 8px solid rgb(51, 56, 59);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  .weapon-capacite:hover p,
  .weapon-capacite:focus p {
    transform: scale(1) rotate(0);
    opacity: 1;
  }

  .weapon-capacite-ammo p {
    display: block;
    position: absolute;
    margin-top: 95px;
    margin-right: 0px;
    color: white;
    background: rgb(51, 56, 59);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(0) rotate(-12deg);
    transition: all 0.35s;
    opacity: 0;
    z-index: 2;
    font-family: "Noto Serif", sans-serif;
    max-width: 15%;
    font-size: 0.9rem !important;
    border: 1px solid rgba(255, 255, 255, 0.699);
  }
  .weapon-capacite-ammo p::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translate(-50%);
    width: 0;
    height: 0;
    border-bottom: 8px solid rgb(51, 56, 59);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
  }
  .weapon-capacite-ammo:hover p,
  .weapon-capacite-ammo:focus p {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  /* Infobulle ammo fin*/

  /* Infobulle statistique*/
  .weapon-damage span {
    cursor: pointer;
  }
  .weapon-damage p {
    display: block;
    position: absolute;
    margin-top: 28px;
    margin-left: 5px;
    color: white;
    background: rgb(51, 56, 59);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(0) rotate(-12deg);
    transition: all 0.35s;
    opacity: 0;
    z-index: 2;
    font-family: "Noto Serif", sans-serif;
    max-width: 10%;
    font-size: 0.8rem !important;
    border: 1px solid rgba(255, 255, 255, 0.699);
  }
  .weapon-damage p::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 20px;
    width: 0;
    height: 0;
    border-bottom: 6px solid rgb(51, 56, 59);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  .weapon-damage:hover p,
  .weapon-damage:focus p {
    transform: scale(1) rotate(0);
    opacity: 1;
  }
  /* Infobulle statistique fin*/

  /* Infobulle special ammo */
  .infobulle-image p {
    display: block;
    position: absolute;
    margin-top: 55px;
    margin-left: 8px;
    color: white;
    background: rgb(51, 56, 59);
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(0) rotate(-12deg);
    transition: all 0.35s;
    opacity: 0;
    z-index: 2;
    font-family: "Noto Serif", sans-serif;
    max-width: 10%;
    font-size: 0.8rem !important;
    border: 1px solid rgba(255, 255, 255, 0.699);
  }
  .infobulle-image p::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 2px;
    width: 0;
    height: 0;
    border-bottom: 6px solid rgb(51, 56, 59);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
  }
  .infobulle-image:hover p,
  .infobulle-image:focus p {
    transform: scale(1) rotate(0);
    opacity: 1;
  }

  .image-ammo-box div {
    cursor: pointer;
  }
  /* Infobulle special ammo fin */

  /* INFOBULLE FIN*/
}
@media only screen and (min-width: 1330px) {
  .weapon-box a {
    font-size: 1.1rem;
  }
  .weapon-damage span {
    font-size: 0.96rem;
  }
}

/* .btn-grad {
  background-image: linear-gradient(to right, #000000 0%, #434343 51%, #000000 100%);
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
} */
