.container-weapon-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.weapon-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 80%;
  margin: 5px;
  border: 1px solid rgba(54, 51, 51, 0.822);
}
.weapon-box {
  width: 100%;
  height: 100%;
  padding: 4px;
  display: flex;
  flex-direction: column;
}
.weapon-ammo-box {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-ammo-box img {
  width: 32px;
  height: 64px;
  margin-left: 20px;
}
.weapon-box img {
  width: 100%;
  height: 100%;
}
.weapon-damage span {
  font-style: italic;
  font-family: "Noto Serif";
}
.weapon-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}
.weapon-stats-box {
  width: 100%;
}
.weapon-stat {
  width: 100%;
  padding: 15px;
}
.weapon-damage {
  display: flex;
  justify-content: space-between;
  color: grey;
  margin-bottom: 3px;
}
.weapon-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: grey;
  font-style: italic;
  font-family: "Noto Serif", sans-serif;
  position: relative;
}
.weapon-cost img {
  width: 33px;
  height: 33px;
}
.cost {
  position: absolute;
  right: 40px;
}
.degats {
  color: white;
}
.weapon-line {
  width: 100%;
  position: relative;
}
/* Les ligne de stats */
.grey-line {
  width: 100%;
  height: 4px;
  background-color: grey;
  display: block;
  z-index: 0;
  position: absolute;
}
.red-line {
  position: absolute;
  z-index: 1;
  background-color: red;
  width: 100%;
  height: 4px;
  display: block;
}
.white-line {
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  background-color: white;
  z-index: 1;
}
.blue-line {
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  background-color: rgb(74, 74, 190);
  z-index: 1;
}
@media only screen and (min-width: 1043px) {
  .weapon-box a {
    font-size: 0.7rem;
  }
  .weapon-ammo-box {
    width: 30%;
    flex-direction: column;
  }
  .image-ammo-box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .image-ammo-box img {
    margin: 0;
  }
  .weapon-container {
    flex-direction: row;
    align-items: center;
  }
  .weapon-damage span {
    font-size: 0.75rem;
  }
  /* ANIMATION  */
  .weapon-container:first-child {
    animation-name: fade-weapon-container;
    animation-duration: 2s;
  }
  @keyframes fade-weapon-container {
    from {
      transform: translateY(-300px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .weapon-container:nth-child(2n + 0) {
    animation-name: fade-weapon-container-X;
    animation-duration: 2s;
  }
  @keyframes fade-weapon-container-X {
    from {
      transform: translateX(-300px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .weapon-container:nth-child(2n + 3) {
    animation-name: fade-weapon-container-Y;
    animation-duration: 2s;
  }
  @keyframes fade-weapon-container-Y {
    from {
      transform: translateX(300px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* ANIMATION FIN */
}
@media only screen and (min-width: 1300px) {
  .weapon-box a {
    font-size: 0.9rem;
  }
  .weapon-damage span {
    font-size: 1rem;
  }
}
