.container-weapon-container {
  width: 100%;
  height: 100%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.weapon-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 80%;
  margin: 20px;
}
.weapon-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.weapon-ammo-box {
  display: flex;
  justify-content: center;
}
.weapon-ammo-box img {
  max-height: 3.4em;
  margin-left: 20px;
}
.weapon-box img {
  width: 100%;
  height: 100%;
}
.weapon-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
}
.weapon-stats-box {
  width: 100%;
}
.weapon-stat {
  width: 100%;
  padding: 15px;
}
.weapon-damage {
  display: flex;
  justify-content: space-between;
  color: grey;
  margin-bottom: 3px;
}

.weapon-line {
  width: 100%;
  position: relative;
}
/* Les ligne de stats */
.grey-line {
  width: 100%;
  height: 4px;
  background-color: grey;
  display: block;
  z-index: 0;
  position: absolute;
}
.red-line {
  position: absolute;
  z-index: 1;
  background-color: red;
  width: 100%;
  height: 4px;
  display: block;
}
.white-line {
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  background-color: white;
  z-index: 1;
}
@media only screen and (min-width: 1043px) {
  .weapon-ammo-box img {
    margin: 0;
  }
  .weapon-container {
    flex-direction: row;
    align-items: center;
  }
  .weapon-damage span {
    font-size: 0.75rem;
    font-style: italic;
    font-family: "Noto Serif";
  }
}
@media only screen and (min-width: 1300px) {
  .weapon-damage span {
    font-size: 1rem;
  }
}
