body#armes {
  background: url(../images/Hunt-Wallpaper-7-2560x1440.jpg) fixed no-repeat center;
  background-size: cover;
}

body#armes p {
  color: white;
  text-align: center;
  font-size: 1.2em;
}
.underline {
  text-decoration: underline;
}

.H2armes {
  text-align: center;
  margin-left: 20px;
  font-size: 2em;
  font-family: "Tinos", sans-serif;
}
.p-armes {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
}
.armes-h1 {
  font-family: "Smokum", sans-serif;
  background-color: rgba(0, 0, 0, 0.9);
  padding-top: 20px;
}
/* TABLEAU ARMES */

.invisible-margin {
  width: 100%;
  height: 100px;
}

.table-scroll {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  padding-bottom: 10px;
}

th,
td {
  padding: 9px;
}

tbody tr,
td,
th {
  border: 1px solid #ddd;
}

thead tr th {
  background-color: rgba(0, 0, 0, 0.9); /* rgb(25, 30, 34) */ /* Trandsparence 0.904 */
  color: white;
  text-align: center;
  font-family: "Tinos", sans-serif;
  font-size: 1.3em;
  font-weight: 500;
}

tbody tr td {
  color: rgb(247, 225, 225);
  text-align: center;
}

caption {
  padding: 10px;
  background-color: rgba(25, 30, 34, 0.904);
}

.table-style {
  font-size: 1.3em;
  font-weight: 900;
  width: 5%;
  background-color: rgb(0, 0, 0); /* rgb(25, 30, 34) */ /* Transparence 0.904 */
}

.table-style-underline {
  text-decoration: underline;
  font-size: 1.3em;
  font-weight: 900;
  width: 5%;
  background-color: rgb(0, 0, 0); /* rgb(25, 30, 34) ;*/
}

.table-armes {
  background-color: rgb(0, 0, 0); /* rgb(25, 30, 34); */
  width: 20%;
}

.image-arme {
  width: 100%;
  height: 100%;
}

.tableau-style {
  border-collapse: collapse;
  max-width: 100%;
  border: 2px solid white;
  margin: 20px 10px 0px 10px;
}

.flex-container-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-top: 100px;
  width: 100%;
}

/* TABLEAU ARMES FIN  */

/* BACKGROUND IMAGE */

/* MEDIA QUERIES */
@media only screen and (min-width: 1024px) {
  /* TABLEAU */

  .tableau-style {
    margin-left: 100px;
    margin-right: 100px;
  }

  /* TABLEAU FIN */

  /* ANIMATION TABLEAU */
  caption {
    animation-name: fade-table-caption;
    animation-duration: 2s;
  }
  thead {
    animation-name: fade-table-tr;
    animation-duration: 2s;
  }
  .table-armes {
    animation-name: fade-table-armes;
    animation-duration: 2s;
  }
  .table-style {
    animation-name: fade-table-style;
    animation-duration: 2s;
  }
  .table-style-underline {
    animation-name: fade-table-underline;
    animation-duration: 2s;
  }

  @keyframes fade-table-caption {
    from {
      transform: translateY(-300px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes fade-table-tr {
    from {
      transform: translateX(300px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-table-armes {
    from {
      transform: translateX(-300px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-table-style {
    from {
      transform: translateY(300px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-table-underline {
    from {
      transform: translateY(-300px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  /* ANIMATION TABLEAU */
}
