#chasseur {
  background-color: rgb(18, 31, 37);
}
.explain-chasseur {
  color: rgb(207, 200, 200);
  text-align: center;
  margin: 20px;
}

.chasseurs-h1 {
  color: rgb(207, 200, 200);
  font-family: "Rye", sans-serif;
}
.chasseurs-h2 {
  color: rgb(207, 200, 200);
  margin: 20px;
}
.chasseur-a {
  text-decoration: none;
  color: rgb(207, 200, 200);
  font-style: italic;
  font-weight: bold;
}
.container-global-chasseur {
  width: 100%;
  display: flex;
  justify-content: center;
  /*   border: 2px solid black; */
}

.container-chasseurs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  border: 2px solid black; */
}
.card-chasseur {
  max-width: 100%;
  height: 500px;
  transition: all 0.5s ease-in-out;
  padding-bottom: 20px;
  position: relative;
}
.card-chasseur:hover {
  box-shadow: 10px 10px 50px rgb(17, 30, 35);
  transform: scale(1.03);
}

.card-chasseur p {
  position: absolute;
  top: 15px;
  text-align: center;
  color: rgb(207, 200, 200);
  font-size: 0.9rem;
  opacity: 0;
  padding: 10px;
  transition: all 1s ease-in-out;
  font-family: "Tinos", sans-serif;
  background-color: rgba(17, 30, 35, 0.623);
}
.card-chasseur:hover p {
  opacity: 1;
}

.card-chasseur img {
  width: 100%;
  height: 100%;
}
.card-chasseur a {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  bottom: 20px;
  left: 26%;
  transform: translate(-25%);
  background-color: rgb(18, 31, 37);
  text-decoration: none;
  color: rgb(169, 176, 149);
  font-weight: bold;
  font-family: "Noto Serif", sans-serif;
}
.fa-steam-square {
  color: white;
  position: absolute;
  left: 0px;
  font-size: 1.6rem;
}
@media only screen and (min-width: 700px) {
  .container-chasseurs {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  .card-chasseur {
    cursor: url("../images/icons8-steganographie-35.png"), auto;
    margin: 20px;
    padding: 0;
  }
  .card-chasseur p {
    font-size: 1.1rem;
  }
  .card-chasseur a {
    bottom: 0;
    font-size: 0.9rem;
  }
}
