#chasseur {
  background-color: rgb(18, 31, 37);
}
.chasseurs-h1 {
  font-family: "Rye", sans-serif;
}
.container-global-chasseur {
  width: 100%;
  display: flex;
  justify-content: center;
  /*   border: 2px solid black; */
}

.container-chasseurs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*  border: 2px solid black; */
}
.card-chasseur {
  max-width: 100%;
  height: 500px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding-bottom: 10px;
  position: relative;
}
.card-chasseur:hover {
  box-shadow: 10px 10px 50px rgb(17, 30, 35);
  transform: scale(1.03);
}
.card-chasseur p {
  position: absolute;
  top: 50px;
  text-align: center;
  color: white;
  font-size: 1.1rem;
  opacity: 0;
  transition: all 1s ease-in-out;
}
.card-chasseur:hover p {
  opacity: 1;
}
.card-chasseur span {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.1rem;
  color: rgb(137, 138, 112);
  font-weight: bold;
}
.card-chasseur img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 700px) {
  .container-chasseurs {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
  }

  .card-chasseur {
    margin: 20px;
    padding: 0;
  }
}
