body#stalker-bettle {
  background-color: rgb(12, 16, 19);
}
/* PAGE DES NEWS */
.news-article-background {
  background: url(../images/stalkerbeetle.png) repeat scroll center center / cover;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  position: relative;
}
.news-article-background-mama {
  background: url(../images/mama_maye.jpg) repeat scroll center center / cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;
  position: relative;
}

.news-article-title h1 {
  position: absolute;
  bottom: 25%;
  left: 25%;
  right: 25%;
  width: 50%;
  font-family: "Rye", sans-serif;
  font-size: 1.6rem;
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.news-article {
  padding: 12px;
  color: white;
  text-align: center;
  font-size: 1.3rem;
  font-style: italic;
  font-family: "Tinos", sans-serif;
}
.news-article-container {
  width: 100%;
}
.news-article-container h2 {
  font-family: "Rye", sans-serif;
  font-style: normal;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.5rem;
}
.news-article-container p {
  margin-top: 30px;
}
.news-article-container-ul {
  margin-left: 20px;
  text-align: start;
}
.container-mama-maye {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-mama-maye {
  margin-top: 30px;
  width: 100%;
}
/* PAGE DES NEWS FIN */

/* MEDIA QUERIES */

@media only screen and (min-width: 1024px) {
  /* PAGE DES NEWS  */

  .news-article-title h1 {
    text-align: start;
    font-size: 3rem;
    bottom: 10%;
    left: 70px;
    animation-duration: 3s;
  }
  @keyframes fade {
    from {
      transform: translateX(600px);
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .news-article-container h2 {
    text-align: start;
  }
  .news-article {
    margin-left: 60px;
    width: 50%;
    text-align: start;
  }

  /* PAGE DES NEWS FIN */
}
