/* FOOTER */

.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(25, 30, 34);
  color: white;
  font-family: "Roboto", sans-serif;
  height: 100px;
}

.footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  height: 100%;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}
/* FOOTER FIN */

@media only screen and (min-width: 1024px) {
  /* FOOTER */
  .footer {
    height: 80px;
  }
  .footer ul {
    display: flex;
    flex-direction: row;
  }
  /* FOOTER FIN */
}
