.logo {
  width: 50%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.logoNav {
  width: 30px;
  height: 100%;
  margin-left: 15px;
}
.logo-video {
  height: 100%;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  /* LOGO */

  /* LOGO FIN */
}
